.parent_stat_cntnt {
  @include flex;
  justify-content: space-between;
  align-items: start;
  .l_prnt_stat {
    width: 42%;
  }
  .r_prnt_stat {
    @include flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 40%;
    .stat_box {
      @include flex;
      width: 48%;
      height: 20rem;
      background-color: #f6f5f4;
      flex-direction: column;
      margin-bottom: 2.5rem;
      h3 {
        color: $secondary;
        font-size: 4rem;
      }
    }
  }
}
