@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: 0.5s ease all;
}

::-moz-selection {
  background-color: #ffcc01;
  color: #fff;
}

::selection {
  background-color: #ffcc01;
  color: #fff;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

a,
button {
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 1560px;
  margin: 0 auto;
}

.brand-link {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: inherit;
  border: none;
  outline: none;
  color: var(--color-purple);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.cmn_pdding {
  padding: 100px 0;
}

.clear {
  clear: both;
}

.cmn_hdr h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #1f373d;
  padding-bottom: 2rem;
}
.cmn_hdr h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f373d;
  padding-bottom: 2rem;
}
.cmn_hdr p {
  font-size: 14px;
  color: #1f373d;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 2rem;
}

.cmn_hdr.wht h2 {
  color: #fff;
}
.cmn_hdr.wht h3 {
  color: #fff;
}
.cmn_hdr.wht p {
  color: #fff;
}

.cmn_btn {
  padding: 1rem 2rem;
  background-color: #ffcc01;
  color: #1f373d;
  text-transform: capitalize;
  font-weight: 500;
  box-shadow: inset -1px -1px transparent, inset 1px 1px transparent, inset -2px -2px transparent, inset 2px 2px transparent;
}
.cmn_btn:hover {
  background-color: #fff;
  color: #ffcc01;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

.cmn_btn.wht {
  background-color: #fff;
}
.cmn_btn.wht:hover {
  background-color: #ffcc01;
  color: #1f373d;
}

#btn-back-to-top {
  position: fixed;
  background-color: rgba(255, 204, 1, 0.8078431373);
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 13px;
  right: 20px;
  bottom: 20px;
  display: grid;
  place-items: center;
  border: none;
  transition: 0.5s;
  border-radius: 20px;
  z-index: 22222;
  display: none;
}

#btn-back-to-top:hover,
#btn-back-to-top:focus {
  background-color: #ffcc01;
  transform: scale(1.2);
}

#btn-back-to-top.show {
  display: block;
}

.scroll-up .header {
  background: var(--color-white);
  box-shadow: var(--shadow-large);
}

.scroll-down .header {
  transform: translate3d(0, -100%, 0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: auto;
  transition: all 0.35s ease-in-out;
}
.header #menu {
  padding-left: 15rem;
}
.header .navigation_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}
.header .hamburger {
  position: relative;
  display: none;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  transform: rotate(0deg);
  transition: 0.35s ease-in-out;
}
.header .menu-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .menu-item {
  padding: 1.25rem 0;
  transition: all 0.35s ease-in-out;
  padding-right: 3.3rem;
}
.header .menu-item:last-child {
  padding-right: 0;
}
.header .menu-item.active {
  border-bottom: 3px solid var(--color-purple);
  outline: none;
}
.header .menu-item a {
  position: relative;
}
.header .menu-item a::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #1f373d;
  width: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s ease all;
}
.header .menu-item a:hover::after {
  width: 100%;
}
.header .menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: inherit;
  color: #1f373d;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease-in-out;
}
.header .menu-link:active,
.header .menu-link:hover {
  border: none;
  outline: none;
  color: #ffcc01;
}

.scroll-down .outr_header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scroll-up .outr_header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.outr_header {
  background-color: #fff;
}

/* -- search--- */
.wrap {
  position: relative;
  width: 0px;
  height: 5.5rem;
  line-height: 5.5rem;
  padding-right: 5.5rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}
.wrap .input {
  border: 0;
  background: transparent;
  width: 0%;
  outline: none;
  font-size: 1.8rem;
  color: #21243d;
  transition: all 0.3s ease;
  position: relative;
}
.wrap .fa {
  color: #fff;
  position: absolute;
  right: 1.7rem;
  top: 1.5rem;
  font-size: 2.2rem;
  cursor: pointer;
}

.wrap.active {
  width: 25rem;
  padding-left: 2.5rem;
  transition: all 0.5s ease;
  background-color: #ffd17e;
}
.wrap.active input::-moz-placeholder {
  color: #21243d;
}
.wrap.active input::placeholder {
  color: #21243d;
}
.wrap.active .fa {
  color: #21243d;
}
.wrap.active .input.active {
  width: 98%;
  padding-left: 0.5rem;
  transition: all 0.5s 0.8s ease;
}

.wrap input::-moz-placeholder {
  color: #fff;
}

.wrap input::placeholder {
  color: #fff;
}

.hdr_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.hdr_btn a {
  color: #1f373d;
}
.hdr_btn .join_us a {
  padding: 1rem 2.5rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: inset -1px -1px transparent, inset 1px 1px #fff, inset -2px -2px transparent, inset 2px 2px #ffffff;
}
.hdr_btn .join_us a:hover {
  background: #ffcc01;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}
.hdr_btn .g_start a {
  padding: 1rem 2.5rem;
  background: #ffcc01;
  border-radius: 5px;
  box-shadow: inset -1px -1px transparent, inset 1px 1px transparent, inset -2px -2px transparent, inset 2px 2px transparent;
}
.hdr_btn .g_start a:hover {
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}

.banner {
  position: relative;
}
.banner .inner_banner {
  position: relative;
}

.bnr_img {
  width: 80%;
  float: right;
  position: relative;
}
.bnr_img img {
  display: block;
  width: 100%;
}

.bnr_cntct {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.bnr_cntct .bnr_nmbr_parnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffcc01;
}
.bnr_cntct .bnr_nmbr_parnt span {
  padding: 3.3rem 2rem;
  color: #fff;
}
.bnr_cntct .bnr_nmbr_parnt a {
  padding: 3.3rem 2rem;
  color: #1f373d;
  font-weight: 700;
}
.bnr_cntct .bnr_nmbr_parnt a:hover {
  text-decoration: underline;
}
.bnr_cntct .bnr_location-parnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffcc01;
}
.bnr_cntct .bnr_location-parnt span {
  padding: 3.3rem 2rem;
  color: #fff;
}
.bnr_cntct .bnr_location-parnt a {
  padding: 3.3rem 2rem;
  color: #1f373d;
  font-weight: 500;
}
.bnr_cntct .bnr_location-parnt a:hover {
  text-decoration: underline;
}

.bnr_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.bnr_content h1 {
  font-size: 6rem;
  line-height: 1.2;
  color: #1f373d;
}

.bnr_search {
  width: 100%;
  margin-top: 3rem;
}
.bnr_search form {
  height: 7rem;
  width: 100%;
  display: flex;
}
.bnr_search form a {
  height: 100%;
  width: 20%;
  background: #ffcc01;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f373d;
  font-weight: 600;
}
.bnr_search form .bnr_srch_btn {
  box-shadow: inset -1px -1px transparent, inset 1px 1px transparent, inset -2px -2px transparent, inset 2px 2px transparent;
}
.bnr_search form .bnr_srch_btn:hover {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}
.bnr_search form input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  background-image: url(../images/bnr_srch_icon.png);
  background-position: 5% center;
  background-repeat: no-repeat;
  padding-left: 5rem;
}
.bnr_search form input::-moz-placeholder {
  color: #919eb1;
  font-size: 15px;
  font-weight: 400;
}
.bnr_search form input::placeholder {
  color: #919eb1;
  font-size: 15px;
  font-weight: 400;
}
.bnr_search form input:focus {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scroll_down {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: bounce-bottom 2s linear infinite forwards;
}
.scroll_down a p {
  writing-mode: sideways-lr;
  padding-bottom: 2rem;
  font-weight: 500;
  color: #919eb1;
}

/**
 * ----------------------------------------
 * animation bounce-bottom
 * ----------------------------------------
 */
@keyframes bounce-bottom {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.parent_stat_cntnt {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: start;
}
.parent_stat_cntnt .l_prnt_stat {
  width: 42%;
}
.parent_stat_cntnt .r_prnt_stat {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
}
.parent_stat_cntnt .r_prnt_stat .stat_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 20rem;
  background-color: #f6f5f4;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
.parent_stat_cntnt .r_prnt_stat .stat_box h3 {
  color: #ffcc01;
  font-size: 4rem;
}

.appartment {
  background-color: #f6f5f4;
}
.appartment .parent_appartment {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appartment .parent_appartment .appartment_box {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 32%;
  margin-top: 3rem;
}
.appartment .parent_appartment .appartment_box .appartment-img {
  width: 100%;
}
.appartment .parent_appartment .appartment_box .ap_box_cntnt {
  padding: 2rem;
}
.appartment .parent_appartment .appartment_box .ap_box_cntnt h6 {
  color: #1f373d;
  font-size: 15px;
  padding-bottom: 2rem;
}
.appartment .parent_appartment .appartment_box .ap_box_fter img {
  padding: 0 1.5rem;
}
.appartment .parent_appartment .appartment_box .ap_box_fter span {
  font-size: 15px;
}
.appartment .parent_appartment .ap_box_details {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.appartment .parent_appartment .ap_box_details .ap_box_rent h5 {
  color: #ffcc01;
  font-size: 18px;
}
.appartment .appartment_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
  margin-top: 5rem;
  height: 7rem;
}
.appartment .appartment_buttons .bnr_search {
  width: 35%;
  margin-top: 0;
}
.appartment .appartment_buttons .vw_aprtmnt_btn {
  height: 100%;
}
.appartment .appartment_buttons .vw_aprtmnt_btn a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
}

.h_works_head {
  width: 27%;
}
.h_works_head .cmn_hdr p {
  line-height: 2.5;
}

.parent-h_works {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.parent-h_works .h_works_box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 31%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.parent-h_works .h_works_box:hover {
  background-color: #ffcc01;
}
.parent-h_works .h_works_box:hover .o_hw_number h2 {
  color: #fff;
}
.parent-h_works .h_works_box:hover .h2_box_cntnt .hwb_c_num h5 {
  color: #fff;
}
.parent-h_works .h_works_box:hover .h2_box_cntnt .hwb_c_details {
  width: 83%;
}
.parent-h_works .h_works_box:hover .h2_box_cntnt .hwb_c_details h5 {
  color: #fff;
}
.parent-h_works .h_works_box:hover .h2_box_cntnt .hwb_c_details p {
  color: #fff;
}
.parent-h_works .h_works_box:hover .h2_box_cntnt .hw_btn a {
  color: #fff;
}
.parent-h_works .h_works_box:hover .h2_box_cntnt .hw_btn a::after {
  border-color: #fff;
}
.parent-h_works .h_works_box .o_hw_number {
  transform: translateY(-8.5rem) translateX(-3.5rem);
}
.parent-h_works .h_works_box .o_hw_number h2 {
  font-size: 15rem;
  font-weight: 700;
  color: #1f373d;
}
.parent-h_works .h_works_box .h2_box_cntnt {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  align-items: start;
  margin-top: -5rem;
  padding-bottom: 5rem;
}
.parent-h_works .h_works_box .h2_box_cntnt .hwb_c_num {
  width: 13%;
}
.parent-h_works .h_works_box .h2_box_cntnt .hwb_c_num h5 {
  font-size: 18px;
  font-weight: 700;
  color: #1f373d;
}
.parent-h_works .h_works_box .h2_box_cntnt .hwb_c_details {
  width: 83%;
}
.parent-h_works .h_works_box .h2_box_cntnt .hwb_c_details h5 {
  font-size: 18px;
  font-weight: 700;
  color: #1f373d;
  margin-bottom: 3rem;
}
.parent-h_works .h_works_box .h2_box_cntnt .hwb_c_details p {
  line-height: 2.5;
  font-weight: 500;
}
.parent-h_works .h_works_box .h2_box_cntnt .hw_btn {
  margin-top: 2rem;
}
.parent-h_works .h_works_box .h2_box_cntnt .hw_btn a {
  font-size: 14px;
  font-weight: 600;
  color: #1f373d;
  position: relative;
}
.parent-h_works .h_works_box .h2_box_cntnt .hw_btn a::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #1f373d;
}

.service_head {
  width: 27%;
}

.parent_service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  align-items: start;
  gap: 10rem;
}
.parent_service .left_service {
  width: 52%;
  height: auto;
}
.parent_service .left_service img {
  width: 100%;
  display: block;
  height: 100%;
}
.parent_service .right_service {
  width: 42%;
}
.parent_service .right_service .service-desc {
  margin-bottom: 6rem;
}
.parent_service .right_service .service-desc p {
  width: 70%;
}
.parent_service .right_service .service-desc:last-child {
  margin-bottom: 0;
}

.agent {
  background-color: #f6f5f4;
}

.agent_head {
  width: 27%;
}

.parent_agent {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.parent_agent .agent_box {
  width: 32%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 32%;
  margin-top: 3rem;
  overflow: hidden;
}
.parent_agent .agent_box:hover .agent_img {
  transform: scale(1.2);
}
.parent_agent .agent_box .agent_img {
  width: 100%;
}
.parent_agent .agent_box .agent_box_cntnt {
  padding: 2rem;
}
.parent_agent .agent_box .agent_box_cntnt h6 {
  color: #1f373d;
  font-size: 15px;
  padding-bottom: 2rem;
}
.parent_agent .agent_box .agent_box_cntnt .agent_box_details {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.parent_agent .agent_box .agent_box_cntnt .agent_box_details .agent_box_rent h5 {
  color: #ffcc01;
  font-size: 18px;
}
.parent_agent .agent_box .agent_box_cntnt .agent_box_details .agent_box_fter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}
.parent_agent .agent_box .agent_box_cntnt .agent_box_details .agent_box_fter span a {
  color: #1f373d;
  font-size: 19px;
}
.parent_agent .agent_box .agent_box_cntnt .agent_box_details .agent_box_fter span a:hover i {
  transform: scale(2);
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  grid-row-gap: 6rem;
}
.parent-grid .grid-img img {
  width: 100%;
  display: block;
}
.parent-grid .grid-content {
  position: relative;
}
.parent-grid .grid-content .inr_cntnt {
  width: 70%;
  margin: 0 auto;
}
.parent-grid .grid-content:nth-child(3) .inr_cntnt .cmn_hdr {
  text-align: right;
}
.parent-grid .grid-content:nth-child(4) .grid_location-parnt {
  left: unset;
  right: -5rem;
  transform: translateX(0);
}
.parent-grid .grid-content .g-button {
  height: 8rem;
  width: 24rem;
  margin-top: 4rem;
}
.parent-grid .grid-content .g-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #1f373d;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.parent-grid .grid-content .grid_location-parnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 8rem;
  background: #ffcc01;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2.5rem;
  box-shadow: inset -1px -1px transparent, inset 1px 1px transparent, inset -2px -2px transparent, inset 2px 2px transparent;
}
.parent-grid .grid-content .grid_location-parnt:hover {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}
.parent-grid .grid-content .grid_location-parnt span {
  color: #fff;
  font-size: 2.5rem;
}
.parent-grid .grid-content .grid_location-parnt .grid_location {
  padding-left: 2rem;
}
.parent-grid .grid-content .grid_location-parnt .grid_location a {
  font-weight: 700;
  color: #1f373d;
  text-transform: capitalize;
}
.parent-grid .grid-content .g-button a {
  border: 2px solid transparent;
}
.parent-grid .grid-content .g-button a:hover {
  background-color: transparent;
  border: 2px solid #1f373d;
  color: #ffcc01;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

footer {
  background-color: #1f373d;
}
footer .footer_head {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.5rem;
  border-bottom: 1px solid #8290a2;
}
footer .footer_head .newsletter {
  width: 47rem;
  height: 7rem;
}
footer .footer_head .newsletter form {
  position: relative;
  height: 100%;
  width: 100%;
}
footer .footer_head .newsletter form .email-box__input {
  height: 100%;
  width: 100%;
  padding-left: 2.5rem;
  border: none;
  outline: none;
}
footer .footer_head .newsletter form .email-box__input::-moz-placeholder {
  font-size: 15px;
  font-weight: 500;
}
footer .footer_head .newsletter form .email-box__input::placeholder {
  font-size: 15px;
  font-weight: 500;
}
footer .footer_head .newsletter form .email-box__input:focus, footer .footer_head .newsletter form .email-box__input:active {
  border: none;
  outline: none;
}
footer .footer_head .newsletter form .submit-btn {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  outline: none;
}
footer .footer_head .newsletter form .submit-btn:hover {
  background-color: #ffcc01;
  cursor: pointer;
}
footer .footer_head .newsletter form .submit-btn:focus {
  border: none;
  outline: none;
}
footer .footer_head .newsletter form span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  font-size: 20px;
}
footer .mid_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: self-start;
  justify-content: space-between;
}
footer .mid_footer .left_mfooter {
  width: 30%;
}
footer .mid_footer .left_mfooter .f_logo {
  display: block;
  margin-bottom: 7rem;
}
footer .mid_footer .left_mfooter .f_logo img {
  filter: brightness(0) invert(1);
}
footer .mid_footer .left_mfooter p {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}
footer .mid_footer .left_mfooter p a {
  color: #fff;
}
footer .mid_footer .right_mfooter {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
footer .mid_footer .right_mfooter .f_row h6 {
  color: #919eb1;
  font-size: 15px;
  margin-bottom: 4rem;
}
footer .mid_footer .right_mfooter .f_row ul li {
  margin-bottom: 2rem;
}
footer .mid_footer .right_mfooter .f_row ul li:last-child {
  margin-bottom: 0;
}
footer .mid_footer .right_mfooter .f_row ul li a {
  font-size: 15px;
  color: #fff;
}
footer .mid_footer .right_mfooter .f_row ul li a:hover {
  color: #ffcc01;
}/*# sourceMappingURL=custom.css.map */